html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#msg {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid black;
  z-index: 100;
  background: white;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 0.75rem;
}